dist /dependencies/BulletDep/BulletDep.dist https://raw.githubusercontent.com/OpenEngineDK/dependencies-BulletDep/master/BulletDep.dist

# Pull self
git /extensions/BulletPhysics          https://github.com/OpenEngineDK/extensions-BulletPhysics.git
git-dev /extensions/BulletPhysics      git@github.com:OpenEngineDK/extensions-BulletPhysics.git

# get win lib
win32 /libraries http://openengine.dk/data/libraries/bullet-win32.zip
